<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="redisConfig"
			   type="ZSharp.Framework.Configurations.RedisConfigurationHandler, ZSharp.Framework.Configurations" />
  </configSections>

  <appSettings>
    <add key="SystemCode" value="Common"/>
    <add key="RedisConfigName" value="Common"/>
    <!--LRUCache定期清理數據時間間隔,單位秒,默認5s清理一次-->
    <add key="LRUCacheCleaningIntervalSeconds" value="1"/>
    <!--LRUCache存儲最大限制，默認10000條-->
    <add key="LRUCacheMaxSize" value="2"/>
    <!--額外支持的序列化方式：Jil, MsgPack, ProtoBuf, All-->
    <add key="SerializationFormatType" value="All"/>
  </appSettings>

  <redisConfig>
    <hostGroup name="Common" allowAdmin="true" ssl="false" connectTimeout="5000" database="0">
      <hosts>
        <host ip="127.0.0.1" port="6379"/>
        <host ip="127.0.0.1" port="6380"/>
      </hosts>
    </hostGroup>
  </redisConfig>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
</configuration>