<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="rabbitMqConfig"
			   type="ZSharp.Framework.Configurations.RabbitMqConfigurationHandler, ZSharp.Framework.Configurations" />
	</configSections>

  <appSettings>
    <add key="RabbitMqConfigName" value="Common"/>
  </appSettings>

  <rabbitMqConfig>
    <hostGroup virtualHost="Common" userName="guest" password="guest" prefetchCount="50" requestedHeartbeat="10"
               publisherConfirms="false" persistentMessages="true" cancelOnHaFailover="false" mandatory="false"
               timeout="10" useBackgroundThreads="false">
      <hosts>
        <add ip="127.0.0.1" port="5672"/>
      </hosts>
      <clientProperties>
        <add  key="client_api" value="ZRabbitMq"/>
        <add  key="zrabbitmq_version" value="1.0"/>
      </clientProperties>
    </hostGroup>
  </rabbitMqConfig>

</configuration> 