<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
    <add key="appConfigCheck" value="FromAppConfig"/>
  </appSettings>

  <system.diagnostics>
    <sources>
      <source name="TraceLoggerTests">
        <listeners>
          <clear/>
          <add name="myListener" type="Framework.Logging.Test.CapturingTraceListener, Framework.Logging.Test"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

</configuration>
