<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="redisConfig" type="ZSharp.Framework.Configurations.RedisConfigurationHandler, ZSharp.Framework.Configurations" />
    <section name="logging" type="GroupTour.Framework.Logging.Configuration.ConfigurationSectionHandler, GroupTour.Framework.Logging"/>
  </configSections>
  
  <appSettings>
    <add key="RedisConfigName" value="Common"/>
  </appSettings>
  
  <logging>
    <loggerAdapter type="GroupTour.Framework.Logging.Simple.ConsoleOutLoggerAdapter, GroupTour.Framework.Logging">
      <arg key="level" value="DEBUG"/>
      <arg key="showLogName" value="true"/>
      <arg key="showDataTime" value="true"/>
      <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>
      <arg key="useColor" value="true"/>
    </loggerAdapter>
  </logging>

  <redisConfig>
    <hostGroup name="Common" allowAdmin="true" ssl="false" connectTimeout="5000" database="0">
      <hosts>
        <host ip="127.0.0.1" port="6379"/>
        <host ip="127.0.0.1" port="6380"/>
      </hosts>
    </hostGroup>
  </redisConfig>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
</configuration>