<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="objectPool" type="FlyweightPattern.ObjectPool.PoolableConfigurationSection, FlyweightPattern"/>
  </configSections>
  <objectPool>
    <settings>
      <add type="FlyweightPattern.ObjectPool.SimpleCalculator, FlyweightPattern" max="3" timeout="2000"/>
      <add type="FlyweightPattern.ObjectPool.AdvancedCalculator, FlyweightPattern" max="2" timeout="2000"/>
    </settings>
  </objectPool>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>